<div class="nz-map-section page-width">
  <div>
    <h2 class="title">{{ section.settings.heading }}</h2>
    
    {% if section.settings.layout1 == 'side' %}
        <div class="grid grid--1-col grid--2-col-tablet">
    	<div class="grid__item">
      {%- endif -%}
    
    <div class="nz-map-section__media"
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      
      
      
        {%- if section.settings.cover_image != blank -%}
      
      <img class="lazyload nz-map-image"
        src="{{ section.settings.cover_image | img_url: '600x' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ section.settings.cover_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.heading | escape }}">
      
      
        {%- else -%}
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/New_Zealand_location_map_transparent.svg" style="max-width:100%" />
        {%- endif -%}
     
    </div>
          
     {% if section.settings.layout1 == 'side' %}     
     	</div>
  		<div class="grid__item">
     {%- endif -%}
          
    <p class="">{%- if section.settings.description != blank -%} {{ section.settings.description }} {%- endif -%}</p>
    
     {% if section.settings.layout1 == 'side' %}     
     	</div>  
      	</div> 
     {%- endif -%}
    
  </div>
  
  
</div>



{% schema %}
 {
  "name": "NZ Map",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "NZ Map",
      "label": "Map Heading"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Map Image"
    },    
    {
      "type": "richtext",
      "id": "description",
      "label": "Map Description"
    },
	{
          "type": "select",
          "id": "layout1",
          "options": [
            {
              "value": "side",
              "label": "Side by side"
            },
            {
              "value": "over",
              "label": "Over Under"
            }            
          ],
          "default": "side",
          "label": "Display Layout",
          "info": "How to display your map"
        }
  ],
  "presets": [
    {
      "name": "NZ Map"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.nz-map-image { max-width:100%; }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
